@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Lora|Montserrat:500,700");

:root {
    /* Primary Colors */
    --color-primary-main: #232323; /*rgba(165, 0, 12, 1);*/
    --color-primary-dark: rgba(72, 0, 1, 1);

    --color-bg: #f7f6ee;
 
    /* Secondary Colors */
    --color-secondary-light: rgba(210, 255, 204, 1);
    --color-secondary-main: rgba(83, 224, 219, 1);

    --color-tertiary-light: rgba(222, 205, 164, 1);
    --color-tertiary-dark: rgba(59, 59, 59, 1);

    /* Extra Colors */
    --color-black: rgba(0, 0, 0, 1);
    --color-white: rgba(252, 252, 252, 1);

    /* Border Radius */
    --border-radius-main: .3rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: var(--color-bg);
    color: var(--color-primary-main);
}

html {
    height: 100vh;
    width: 100vw;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Lora', serif;
    font-size: 62.5%; /* old: 1.5vw; */
}

body {
    display: flex;
    flex-direction: column;
    place-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--color-bg);
    font-size: 1.6rem;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    height: calc(100% - 2rem);
    width: calc(100% - 2rem);
    border: .2rem solid var(--color-primary-main);
    /* outline: .2rem solid var(--color-primary-main);
    outline-offset: -2rem; */
    text-align: center;
    background-color: var(--color-bg);
}

/* .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
} */

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/****************************************/
/********** REUSEABLE CONTENT **********/
/****************************************/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
}

a {
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
}

a:link,
a:visited {
    color: var(--color-primary-main);
}

.sub-header {
    font-family: 'Montserrat', serif;
}

.btn {
    font-family: 'Montserrat',sans-serif;
}

.icon {
    height: 2rem;
    width: auto;
}

.error {
    font-family: 'Montserrat', sans-serif;
}

/****************************************/
/********** HEADER **********/
/****************************************/
header {
    display: flex; /* flex children: image logo, nav */
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    background: var(--color-bg);
    /* background: linear-gradient(to bottom, var(--color-primary-main), var(--color-primary-dark)); */
    font-family: 'Lora', serif;
    z-index: 2;
}

.logo--link {
    display: flex;
    align-items: center;
}

.logo--img {
    height: 3.75rem;
}

/* CONTACT */
.contact__list {
    display: flex; /* flex children: li */
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.contact__list__email {
    justify-self: center;
    align-self: center;
}

.contact__list--item {
    padding: 0 1.5rem;
}

.contact__list--link {
    position: relative;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
}

.contact__list--link:link,
.contact__list--link:visited {
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-primary-main) 50%);
    background-size: 250%;
    color: var(--color-primary-main);
    transition: all .4s;
}

.contact__list--link:hover,
.contact__list--link:active {
    background-position: 100%;
    color: var(--color-bg);
}

.contact__list--link::before {
    position: absolute;
    content: "     ";
    transition: all .2s;
}

.contact__list--link::before:hover {
    background: var(--color-secondary-light); 
}

.contact__list--img {
    height: 3.75rem;
}

/****************************************/
/********** NAVIGATION **********/
/****************************************/
.nav {
    position: relative;
    height: calc(100% - 4rem);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__about {
    position: absolute;
    top: 45%;
    left: -1rem;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}

.nav__projects {
    position: absolute;
    left: 17.5%;
    bottom: 0;
}

.nav__resume {
    position: absolute;
    top: 45%;
    right: -1.75rem;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.route {
    height: calc(100% - 1.5vw);
    height: 90%;
    width: 90%;
    overflow: scroll;
}

/****************************************/
/********** MAIN **********/
/****************************************/
main {
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: left;
}

.about__name {
    width: 100%;
    font-size: 4rem;
}

.about__summary {
    width: 100%;
    font-size: 1.2rem;
}

/****************************************/
/********** SKILLS **********/
/****************************************/
.skills {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
}

.skill {
    flex-basis: 14%;
    display: grid;
    grid-template-columns: 5rem;
    grid-template-rows: 5rem 1.5rem;
    grid-template-areas: "img"
                         "text";
}

.skill__img {
    grid-area: img;
    display: flex;
    place-items: center;
    height: 5rem;
    width: 100%;
    object-fit: contain;
}

.skill__text {
    grid-area: text;
    justify-self: center;
    align-self: center;
    font-size: 1rem;
}

.skills__list {
    display: flex;
    flex-flow: column wrap;
    place-items: center;
    margin-top: 1rem;
    font-size: 1rem;
}

.skills__list--item {
    text-align: center;
}

/****************************************/
/********** PROJECTS **********/
/****************************************/
.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    padding-top: 4rem;
    margin-bottom: 2rem;
}

.projects h2 {
    margin-bottom: 1rem;
}

.project__card {
    width: 90%;
    display: grid;
    grid-template-columns: 60% 22.5% 5% 12.5%;
    grid-template-rows: 2.2rem 18.5rem 2.7rem;
    grid-template-areas: "title title title title"
                         "img des des des"
                         "img deployed github code";
    margin-bottom: .75rem;
    border: .1rem solid var(--color-primary-main);
    border-radius: var(--border-radius-main);
    overflow: hidden;
}

.project__title {
    grid-area: title;
    background-color: var(--color-primary-main);
    font-size: 2rem;
    color: var(--color-bg);
    text-align: center;
    border-top-left-radius: var(--border-radius-main);
    border-top-right-radius: var(--border-radius-main);
}

.project__img--link {
    grid-area: img;
    height: 100%;
    width: auto;
}

.project__img--link::before:hover {
    background: none;
}

.project__img {
    /* height: 100%; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: var(--border-radius-main);
}

.project__description {
    grid-area: des;
    padding-left: .3rem;
    font-size: 1.4rem;
    border-bottom: .1rem solid var(--color-primary-main);
    list-style: none;
}

.project__link--deployed {
    grid-area: deployed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
}

.project__link--github-icon {
    grid-area: github;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    height: 100%;
    width: auto;
}

.project__link--code {
    grid-area: code;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: .3rem;
    font-size: 1rem;
}

.project__link--code:link,
.project__link--code:visited,
.project__link--deployed:link,
.project__link--deployed:visited {
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-primary-main) 50%);
    background-size: 250%;
    color: var(--color-primary-main);
    transition: all .4s;
}

.project__link--code:hover,
.project__link--code:active,
.project__link--deployed:hover,
.project__link--deployed:active {
    background-position: 100%;
    color: var(--color-bg);
}

.project__link--code::before,
.project__link--deployed::before {
    position: absolute;
    content: "     ";
    transition: all .2s;
}

.project__link--code::before:hover,
.project__link--deployed::before:hover, {
    background: var(--color-secondary-light); 
}

/****************************************/
/********** RESUME **********/
/****************************************/
.resume--component h2 {
    margin-bottom: 1rem;
}

#resume {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.resume {
    width: 90%;
    align-self: center;
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 2.6rem 10rem 3.5rem 85rem 14rem 5rem 12.5rem;
    grid-template-areas: "about about"
                         "profile--title profile"
                         "education--title education"
                         "experience--title experience"
                         "extracurriculars--title extracurriculars"
                         "publications--title publications"
                         "soft-skills--title soft-skills";
    border: .1rem solid var(--color-primary-main);
    border-radius: var(--border-radius-main);
    text-align: left;
    overflow: hidden;
}

.resume__title {
    text-align: right;
    font-size: 1rem;
    padding-right: .2rem;
    background-color: rgba(35, 35, 35, .6);
    color: var(--color-bg);
    font-weight: 700;
    /* transform: rotate(270deg); */
}

.resume__content {
    font-size: 1.2rem;
    padding-left: .3rem;
}

.resume__date {
    text-align: right;
}

.resume__about {
    grid-area: about;
    text-align: center;
    width: 100%;
    background-color: var(--color-primary-main);
    font-size: 2rem;
    color: var(--color-bg);
}

.resume__profile {
    grid-area: profile;
    border-bottom: .1rem solid var(--color-primary-main);
    list-style: none;
}

.resume__profile--title {
    grid-area: profile--title;
    border-right: .1rem solid var(--color-primary-main);
    border-bottom: .1rem solid var(--color-primary-main);
}

.resume__education {
    grid-area: education;
    border-bottom: .1rem solid var(--color-primary-main);
}

.resume__education--title {
    grid-area: education--title;
    border-right: .1rem solid var(--color-primary-main);
    border-bottom: .1rem solid var(--color-primary-main);
}

.resume__experience {
    grid-area: experience;
    border-bottom: .1rem solid var(--color-primary-main);
}

.resume__experience--title {
    grid-area: experience--title;
    border-right: .1rem solid var(--color-primary-main);
    border-bottom: .1rem solid var(--color-primary-main);
}

.resume__extracurriculars {
    grid-area: extracurriculars;
    border-bottom: .1rem solid var(--color-primary-main);
}

.resume__extracurriculars--title {
    grid-area: extracurriculars--title;
    border-right: .1rem solid var(--color-primary-main);
    border-bottom: .1rem solid var(--color-primary-main);
}

.resume__publications {
    grid-area: publications;
    border-bottom: .1rem solid var(--color-primary-main);
}

.resume__publications--title {
    grid-area: publications--title;
    border-right: .1rem solid var(--color-primary-main);
    border-bottom: .1rem solid var(--color-primary-main);
}

.resume__soft-skills {
    grid-area: soft-skills;
    border-bottom: .1rem solid var(--color-primary-main);
    list-style: none;
}

.resume__soft-skills--title {
    grid-area: soft-skills--title;
    border-right: .1rem solid var(--color-primary-main);
    border-bottom: .1rem solid var(--color-primary-main);
}

.resume__content--item {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.resume__content--item__header {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr;
    grid-template-areas: "title date";
    padding-right: .2rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.resume__content--item__title {
    grid-area: title;
}

.resume__content--item__date {
    grid-area: date;
    text-align: right;
    /* padding-right: .2rem; */
}

.resume__content--item__position {
    font-size: 1rem;
}

.resume__content--item__description {
    font-style: italic;
}

.resume__content--item__list {
    padding-left: 1.5rem;
}